n8n/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "temp-processing",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "16d421d5-6851-41f6-be7c-2b02303ae284",
      "name": "Webhook",
      "webhookId": "9e6730f0-5a29-44db-9793-f8670475f274"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const temp =  $input.item.json.body.temperature;\nlet status;\n\nif (temp > 25) {\n  status = 'HIGH';\n} else {\n  status = 'NORMAL';\n}\n\nreturn {\n  json: {\n    id: $input.item.json.body.id,\n    temperature: temp,\n    status: status,\n    processedAt: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "3e060cf3-186c-40c1-af2b-b06fcc165aee",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "98f0b128-394a-455c-b5de-8a9646e96a15",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c86697a-326d-460a-810a-238234e6f857",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "614ee8fe0fc4a0bd25b18325386dd8229d953a315160f5d009ea63d0e15d395d"
  },
  "id": "19LzOjO4jRMRIV02",
  "tags": []
}